*~
*.log
*.pdf
*#
*.mpx
.dropbox
numerik/
ki/
Rechnernetze/
*.aux
*.ind
*.idx
*.pre
*.prc
*.nl?
*.mtc
*.mtc?
*.mw
*.out
*.ptc
*.ptc?
*.lo?
*.ilg
*.maf
*.toc
*.blg
*.bbl
*.eps
*.swp
*.fls
*-?.tex

*.fdb_latexmk

*.bcf
*.xml

.tex
*.xdv
